.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    color: #333;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

.not-found-content {
    text-align: center;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}
  

.not-found-title {
    font-size: 72px;
    margin-bottom: 10px;
    color: #ff6347;
}
  

.not-found-subtitle {
    font-size: 24px;
    margin-bottom: 20px;
    color: #666;
}
  

.not-found-description {
    font-size: 16px;
    margin-bottom: 20px;
    color: #777;
}

.go-home-button {
    padding: 10px 20px;
    background-color: #ff6347;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
  
.go-home-button:hover {
    background-color: #ff6347 !important;
    text-decoration: none;
}